<!-- Design v0.4 -->
<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>

        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>


    <body>
        <button id="nav-toggle">☰</button>

        <div id="page-wrapper">
            <div id="undo-box">
                <button id="undo-button">Undo</button>
            </div>

            <main id="game-area">
                <div id="puzzle-container"></div>
                <div id="info-box"></div>
            </main>

            <div id="submit-box">
                <button id="submit-button">Submit</button>
            </div>
        </div>
    </body>
</html>