<!-- v3 -->
<html>
    <head>
        <title>Home page</title>

        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>


    <body>
        <button id="nav-toggle">☰</button>

        <main id="game-area">
            <div id="puzzle-container"></div>

            <div id="stats-box"></div>

            <div id="submit-box">
                <button id="submit-button">Submit</button>
            </div>
        </main>
    </body>
</html>